:root {
    --primary-color: #b9e58c; /* Academic Blue */
    --secondary-color: #28a745; /* Academic Green */
    --accent-color: #ffc107; /* Academic Yellow */
}

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #000; /* Black background */
    color: #fff; /* White text color */
    font-size: 16px; /* Adjust the base font size */
}

h1 {
    text-align: center;
    font-size: 2.5em; 
    color: #b9e58c; 
    letter-spacing: 2px;  
}

.header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 20px;
    background-color: var(--primary-color);
    box-shadow: 0 2px 4px #b9e58c;
}

#logo-image {
    max-width: 15%;
    flex-shrink: 0; /* Prevent logo from shrinking to fit available space */
    margin-right: 800px;
}
/* Navigation styles */
nav {
    /* display: flex; */
    align-items: center;
}

#sidemenu {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-end;
}

#sidemenu li {
    margin-left: 20px;
}

#sidemenu a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    font-size: 1.2em;
    transition: color 0.3s ease-in-out;
}

#sidemenu a:hover {
    color: var(--accent-color);
}

.fa-xmark {
    font-size: 1.5em;
    color: #fff;
    cursor: pointer;
    transition: color 0.3s ease-in-out;
}

.fa-xmark:hover {
    color: var(--accent-color);
}

p {
    text-align: justify;
    margin: 20px;
    line-height: 1.6; /* Increase line height for better readability */
    color: #fff; /* White text color */
    text-align-last: left; /* Ensure the last line is aligned to the left */
}

.input-container {
    margin: 20px auto;
    max-width: 500px; /* Increase max-width for better spacing */
}

label {
    display: block;
    margin-bottom: 10px; /* Adjust margin for better spacing */
    font-weight: bold;
    color: var(--primary-color);
}

input, select {
    width: 100%;
    padding: 12px; /* Increase padding for better spacing */
    box-sizing: border-box;
    margin-bottom: 20px; /* Adjust margin for better spacing */
    border: 1px solid var(--secondary-color);
    border-radius: 8px; /* Increase border-radius for rounded corners */
    color: #000; /* Black text color */
    background-color: #fff; /* White background */
}

input:focus, select:focus {
    outline: none;
    border-color: var(--primary-color);
    box-shadow: 0 0 8px #b9e58c;
}

#advisor-image {
    max-width: 50%;
    height: auto;
    display: block;
    margin: 20px auto; /* Center the image with margin */
    border-radius: 12px;
    transition: transform 0.3s ease-in-out;
}

#advisor-image:hover {
    transform: scale(1.1);
}

.btn.btn2{
    display: block;
    background-color: #b9e58c;
    margin: 50px auto;
    width: fit-content;
    border: 1px solid #b9e58c;
    padding: 14px 50px;
    border-radius: 6px;
    text-decoration: none;
    color: #fff;
    transition: background 0.5s;
}
.btn.btn2:hover{
    background: #ffc107;
}
