
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="Myschedule.css">
<style>
table {
  border-collapse: collapse;
  width: 100%;
}

tr {
  border-bottom: 1px solid rgb(255, 255, 255);
}
</style>
</head>
<body>
    <div class="image-container">
        <img src="./logo.png" id = "logo-img"></img>
        <nav>
        
            <ul id="sidemenu">
                <li><a href="#header">Home</a></li>
                <li><a href="#about">The Team</a></li>
                <li><a href="#portfolio">About</a></li>
                <li><a href="#contact">Contact Us</a></li>
                
            </ul>
    
        </nav>
    </div>
        

<h2>Your Requirements</h2>
<div class="major">
<h3>Major Requirements</h3>

<table>
    <tr>
      <th>1st Year</th>
      <th>2nd Year</th>
      <th>3rd Year</th>
      <th>4th Year</th>
    </tr>
    <tr>
      <td>BUSN 211: Probabaility and Statistics</td>
      <td>BUSN 205: Business Communication</td>
      <td>BUSN 321: Marketing</td>
      <td>Concentration Elective 1(4cr)</td>
    </tr>
    <tr>
      <td>ECON 200: Introduction to Economics</td>
      <td>BUSN 301: Organizational Behavior</td>
      <td>BUSN 311: Financial Management</td>
      <td>Concentration Elective 3(4cr)</td>
   
    </tr>
    <tr>    
        <td></td>
        <td></td>
        <td> Concentration Elective 2  (2cr)</td>
        <td>Senior Capstone</td>

      </tr>
      <tr>

      </tr>

  </table>

  
</div>
<div class="Gened">
<h3>General Requirements</h3>
<table>
    <tr>
      <th>Perspectives</th>
      
    </tr>
    <tr>
      <td> i. Perspectives on the Past (PP)</td>
      <td> ii. Perspectives on the Natural World (PN)</td>
      <td>vii. Reason Examination of Faith(REF)</td>
    </tr>
    <tr>
        <td>iii. Perspectives on Individuals and Society</td>
        <td>iv. Perspectives on Literature and Texts</td>
    </tr>
    <tr>
      <td> v. Perspectives on the Arts (PA)</td>
      <td>vi. Perspectives on Human Existence and Values (PH)</td>
   
     </tr> 
   

  </table>

</div>
<div class="electives">
<h3> Recommended Major Electives</h3>
<table>
<tr>
    <th>Electives</th>
    
  </tr>
  <tr>
    <td>Business 303: Human Resources</td>
    <td>Business 304: Organizational Leadership</td>
    <td>Business 305: Employment Law</td>
    </tr>
    <tr>
    <td>Business 307: Diversity and Other Social Issues</td>
    <td>Business 309: Entrpreneuership</td>
    <td>Business 310 Managing Innovation</td>
  </tr>
    <tr>
    <td>Busniess 311: Applied Statistics(2cr)</td>
    <td>Busniess 313: Operations and Supply Chain Management</td>
    <td>Business 315: Sports Management</td>
    </tr>
    <tr>
    <td>Business 315: Sports Management</td>
    <td>Business 316: Project Mangement(2cr)</td>
    <td>Business 322: Marketing Strategy</td>
</tr>
  <tr>

</table>
</div>



</body>
</html>
