
/* Signup.css */

body{
    height: 90%;
    display: flex;
    align-items: center;
    justify-content:center;
    background-image: url('/Users/hildanateklegiorgis/PlanIt/plan-it-solution-2024/public/cg.jpg'); 
    
    margin-left: 0
  }
 
 
  .background {
    display: flex;
    height: 100vh;
  }
 
 
.sign-in-container{
    float:right;
    background-color: #b9e58c;
    width: 250px;
    padding: 10px;
    text-align: center;
    margin-top: 0;

} 
.sign-in-container input {
    padding: 5px 10px;
    border: none;
    border-radius: 15px;
    width: 70%;
    box-sizing: border-box;
    margin-bottom: 15px;
    margin-right: 20px; /* Adjust the margin for more rightward positioning */
    margin-left: auto;
}
button {
    margin: 20px;
    
    padding: 10px 20px;
    border: none;
    border-radius: 25px; 
    background-color: #e8a820; 
    font-size: 16px #eee;
    cursor: pointer;
    color: #eee;

    
}

/* Hover effect for the button */
button:hover {
    background-color: #085510; 
    
}
.sign-in-container input {
    padding: 5px 10px;
    border: none;
    border-radius: 20px;

  
}
  